main,
.contenedor {
    background-image: url("../image/wod-crossfit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: none;
    padding-bottom: 3rem;
}

.container__li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.tamanioCards {
    width: 20rem;
    height: auto;
    background-color: rgba(247, 252, 252, 0.5);
}

.card:hover {
    background-color: rgba(10, 10, 10, 0.5);
    transform: scale(105%);
    color: white;
}

.sizeimg {
    width: 200px;
    height: 200px;
    display: flex;
    justify-items: center;
}

.botones {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px rgb(190, 188, 188);
    font-weight: bold;
    background-color: rgb(136, 133, 133);
}

.lblbotones {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: solid 1px black;
}